<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet" />
  </head>
  <body class="bg-gray-900 text-gray-100">
    <!-- Header -->
    <header class="bg-gray-800 shadow py-0 my-1">
      <%- include('../components/header'); %>
    </header>

    <div class="flex">
      <!-- Sidebar -->
      <aside
        class="bg-gray-800 text-gray-100 w-60 p-6 flex flex-col relative rounded-r-lg sidebar">
        <%- include('../components/sidebar'); %>
      </aside>

      <!-- Main Content -->
      <main class="flex-1 bg-gray-900 p-6 overflow-y-auto">
        <%- include('../components/seriesMain'); %>
      </main>
    </div>

    <!-- Footer -->
    <footer class="bg-gray-800 shadow p-4 mt-1">
      <%- include('../components/footer'); %>
    </footer>
  </body>
</html>
