<!-- Footer -->
<footer class="bg-gray-800 shadow p-4 mt-1">
  <!-- ? Not sure about the shadow-->
  <div class="max-w-7xl mx-auto text-center text-gray-300">
    &copy; 2024 Your Company. All rights reserved.
  </div>
</footer>
