<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Footer -->
    <footer class="bg-gray-800 shadow p-4 mt-1">
      <div class="max-w-7xl mx-auto text-center text-gray-300">
        &copy; 2024 Your Company. All rights reserved.
      </div>
    </footer>
  </body>
</html>
