<!-- Include Tailwind CSS -->
<link
  href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
  rel="stylesheet" />
<style>
  /* Custom styles for specific adjustments */
  .sidebar {
    height: calc(100vh - 80px);
    overflow-y: auto;
  }
  #username {
    text-transform: capitalize !important;
  }
</style>

<div class="container mx-auto p-6">
  <h2 class="text-2xl font-semibold text-gray-100">Dashboard</h2>
  <p class="mt-4 text-gray-300">
    Welcome to your list of series
    <b id="username"><%=username%>!</b>
  </p>

  <!-- Grid container for input form and movie cards -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-6">
    <!-- Input Form -->
    <div class="md:col-span-3">
      <form class="bg-gray-800 shadow rounded-lg p-4" method="POST">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <div>
            <input
              type="text"
              name="name"
              placeholder="Name"
              class="form-input px-4 py-2 bg-gray-900 text-gray-100 border border-gray-600 rounded-md placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 w-full"
              required />
          </div>
          <div class="relative">
            <input
              type="text"
              name="genres"
              id="genreInput"
              placeholder="Genres..."
              class="form-input px-4 py-2 bg-gray-900 text-gray-100 border border-gray-600 rounded-md placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 w-full"
              autocomplete="off"
              readonly
              required />
            <!-- Genre cards popover -->
            <div
              id="genrePopover"
              class="absolute left-0 mt-1 w-full bg-gray-800 shadow-lg rounded-md hidden z-10">
              <div class="p-2">
                <div class="grid grid-cols-3 gap-2">
                  <div
                    class="genre-card p-2 text-center text-gray-100 bg-gray-700 rounded-md cursor-pointer w-fit"
                    data-genre="Action">
                    Action
                  </div>
                  <div
                    class="genre-card p-2 text-center text-gray-100 bg-gray-700 rounded-md cursor-pointer w-fit"
                    data-genre="Adventure">
                    Adventure
                  </div>
                  <div
                    class="genre-card p-2 text-center text-gray-100 bg-gray-700 rounded-md cursor-pointer w-fit"
                    data-genre="Animation">
                    Animation
                  </div>
                  <div
                    class="genre-card p-2 text-center text-gray-100 bg-gray-700 rounded-md cursor-pointer w-fit"
                    data-genre="Comedy">
                    Comedy
                  </div>
                  <div
                    class="genre-card p-2 text-center text-gray-100 bg-gray-700 rounded-md cursor-pointer w-fit"
                    data-genre="Crime">
                    Crime
                  </div>
                  <div
                    class="genre-card p-2 text-center text-gray-100 bg-gray-700 rounded-md cursor-pointer w-fit"
                    data-genre="Documentary">
                    Documentary
                  </div>
                  <div
                    class="genre-card p-2 text-center text-gray-100 bg-gray-700 rounded-md cursor-pointer w-fit"
                    data-genre="Drama">
                    Drama
                  </div>
                  <div
                    class="genre-card p-2 text-center text-gray-100 bg-gray-700 rounded-md cursor-pointer w-fit"
                    data-genre="Family">
                    Family
                  </div>
                  <div
                    class="genre-card p-2 text-center text-gray-100 bg-gray-700 rounded-md cursor-pointer w-fit"
                    data-genre="Fantasy">
                    Fantasy
                  </div>
                  <div
                    class="genre-card p-2 text-center text-gray-100 bg-gray-700 rounded-md cursor-pointer w-fit"
                    data-genre="History">
                    History
                  </div>
                  <div
                    class="genre-card p-2 text-center text-gray-100 bg-gray-700 rounded-md cursor-pointer w-fit"
                    data-genre="Horror">
                    Horror
                  </div>
                  <div
                    class="genre-card p-2 text-center text-gray-100 bg-gray-700 rounded-md cursor-pointer w-fit"
                    data-genre="Music">
                    Music
                  </div>
                  <div
                    class="genre-card p-2 text-center text-gray-100 bg-gray-700 rounded-md cursor-pointer w-fit"
                    data-genre="Mystery">
                    Mystery
                  </div>
                  <div
                    class="genre-card p-2 text-center text-gray-100 bg-gray-700 rounded-md cursor-pointer w-fit"
                    data-genre="Romance">
                    Romance
                  </div>
                  <div
                    class="genre-card p-2 text-center text-gray-100 bg-gray-700 rounded-md cursor-pointer w-fit"
                    data-genre="Science Fiction">
                    Sci-Fi
                  </div>
                  <div
                    class="genre-card p-2 text-center text-gray-100 bg-gray-700 rounded-md cursor-pointer w-fit"
                    data-genre="Thriller">
                    Thriller
                  </div>
                  <div
                    class="genre-card p-2 text-center text-gray-100 bg-gray-700 rounded-md cursor-pointer w-fit"
                    data-genre="War">
                    War
                  </div>
                  <div
                    class="genre-card p-2 text-center text-gray-100 bg-gray-700 rounded-md cursor-pointer w-fit"
                    data-genre="Western">
                    Western
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <input
              type="number"
              step="0.1"
              min="0.1"
              max="10"
              name="imdb"
              placeholder="IMDb Rating"
              class="form-input px-4 py-2 bg-gray-900 text-gray-100 border border-gray-600 rounded-md placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 w-full"
              required />
          </div>
          <div class="col-span-1 md:col-span-3 flex justify-center">
            <button
              type="submit"
              method="POST"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-1/3">
              Add
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- Movie Cards -->
    <div class="col-span-3 grid grid-cols-1 md:grid-cols-3 gap-4">
      <% data.forEach(function(movie) { %>
      <div class="bg-gray-800 shadow rounded-lg p-4">
        <div class="flex justify-between items-center mb-4">
          <h3 class="text-lg font-semibold"><%= movie.name %></h3>
        </div>
        <div class="text-gray-300 mb-2"><%= movie.genre %></div>
        <span
          class="inline-block px-2 py-1 rounded text-sm font-semibold <% if (movie.IMDb >= 7) { %> bg-green-500 text-white <% } else if (movie.IMDb >= 6) { %> bg-yellow-500 text-white <% } else if (movie.IMDb >= 4) { %> bg-yellow-700 text-white <% } else { %> bg-red-500 text-white <% } %>">
          IMDb Rating: <%= movie.IMDb %></span
        >
      </div>
      <% }) %>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const genreInput = document.getElementById("genreInput");
    const genrePopover = document.getElementById("genrePopover");
    const genreCards = document.querySelectorAll(".genre-card");

    function debounce(func, wait, immediate) {
      let timeout;
      return function () {
        const context = this,
          args = arguments;
        const later = function () {
          timeout = null;
          if (!immediate) func.apply(context, args);
        };
        const callNow = immediate && !timeout;
        clearTimeout(timeout);
        timeout = setTimeout(later, wait);
        if (callNow) func.apply(context, args);
      };
    }

    function toggleGenrePopover() {
      genrePopover.classList.toggle("hidden");
    }

    genreInput.addEventListener("click", debounce(toggleGenrePopover, 300));

    genreCards.forEach((card) => {
      card.addEventListener("click", function () {
        const selectedGenre = card.getAttribute("data-genre");
        let currentGenres = genreInput.value
          .split(",")
          .map((g) => g.trim())
          .filter(Boolean);

        if (currentGenres.includes(selectedGenre)) {
          currentGenres = currentGenres.filter(
            (genre) => genre !== selectedGenre
          );
        } else {
          currentGenres.push(selectedGenre);
        }

        genreInput.value = currentGenres.join(", ");

        if (currentGenres.includes(selectedGenre)) {
          card.classList.remove("bg-gray-700");
          card.classList.add("bg-blue-500");
        } else {
          card.classList.remove("bg-blue-500");
          card.classList.add("bg-gray-700");
        }
      });
    });

    document.addEventListener("click", function (event) {
      if (
        !genreInput.contains(event.target) &&
        !genrePopover.contains(event.target)
      ) {
        genrePopover.classList.add("hidden");
      }
    });
  });

  function searchMovieOrSeries() {
    let searchValue = document
      .getElementById("searchInput")
      .value.toLowerCase()
      .trim();
    let rows = document.querySelectorAll(".table tbody tr");
    let found = false;

    rows.forEach(function (row) {
      let title = row.cells[0].innerText.toLowerCase().trim();

      if (title === searchValue) {
        found = true;
        row.scrollIntoView({ behavior: "smooth", block: "center" });
        let genre = row.cells[1].innerText.toLowerCase().trim();
        if (genre === "movie") {
          window.location.href =
            "/movies/" + encodeURIComponent(row.cells[3].innerText);
        } else if (genre === "series") {
          window.location.href =
            "/series/" + encodeURIComponent(row.cells[3].innerText);
        }
      }
    });

    if (!found) {
      var notification = document.getElementById("notification");
      notification.classList.remove("hidden");
      setTimeout(function () {
        notification.classList.add("hidden");
      }, 3000);
    }
  }
</script>
