<!-- Profile Button -->
<div class="mb-6">
  <a
    href="/profile"
    class="flex items-center p-2 text-gray-100 hover:bg-gray-700 rounded-md">
    <img
      class="h-10 w-10 rounded-full mr-3"
      src="https://via.placeholder.com/150"
      alt="Profile Picture" />
    <span class="font-medium" id="username"><%=username%></span>
  </a>
</div>
<!-- Navigation -->
<div class="flex-grow overflow-y-auto">
  <nav class="space-y-2">
    <a
      href="/home"
      class="flex items-center p-2 text-gray-100 hover:bg-gray-700 rounded-md">
      <svg
        class="w-5 h-5 mr-3"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
      Home
    </a>
    <a
      href="/dashboard"
      class="flex items-center p-2 text-gray-100 hover:bg-gray-700 rounded-md">
      <svg
        class="w-5 h-5 mr-3"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5.121 19.121a1.5 1.5 0 001.415 1.415H17.464a1.5 1.5 0 001.415-1.415V6.586a1.5 1.5 0 00-1.415-1.415H6.536A1.5 1.5 0 005.121 6.586v12.535z"></path>
      </svg>
      Dashboard
    </a>
    <a
      href="/movies"
      class="flex items-center p-2 text-gray-100 hover:bg-gray-700 rounded-md">
      <svg
        class="w-5 h-5 mr-3"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 11V3M5.934 8.066a9.99 9.99 0 0110.132 0M21 21a1.5 1.5 0 01-1.5 1.5H4.5A1.5 1.5 0 013 21V10.878c0-1.136.597-2.183 1.586-2.76A9.97 9.97 0 0112 7c2.678 0 5.2 1.045 7.414 2.878A2.999 2.999 0 0121 10.878V21z"></path>
      </svg>
      Movies
    </a>
    <a
      href="/series"
      class="flex items-center p-2 text-gray-100 hover:bg-gray-700 rounded-md">
      <svg
        class="w-5 h-5 mr-3"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 11V3M5.934 8.066a9.99 9.99 0 0110.132 0M21 21a1.5 1.5 0 01-1.5 1.5H4.5A1.5 1.5 0 013 21V10.878c0-1.136.597-2.183 1.586-2.76A9.97 9.97 0 0112 7c2.678 0 5.2 1.045 7.414 2.878A2.999 2.999 0 0121 10.878V21z"></path>
      </svg>
      Series
    </a>
  </nav>
</div>
<!-- Logout Button -->
<div class="mt-auto">
  <a
    href="/logout"
    class="flex items-center p-2 text-gray-100 hover:bg-gray-700 rounded-md">
    <svg
      class="w-5 h-5 mr-3"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1m0-16V3"></path>
    </svg>
    Log out
  </a>
</div>
